.search {
	padding-left: 1rem;
	display: flex;
	align-items: center;
	margin-left: 10rem;
	margin-right: 6rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	max-width: 40vw;
	min-height: 30px;
	border: 2px inset #f5f5f0;
	font-family: Arial;
	color: #808080;
	background-color: rgba(247, 241, 241, 0.904);
}