body {
	background-color: rgba(247, 242, 241, 0.281);
}

.app {
	display: grid;
	grid-template-columns: 2fr 10fr 2fr;
	grid-template-rows: 1fr 6.8fr 2.3fr 1.2fr;
	height:100%;
	width:100%;
	position:fixed;
	grid-template-areas:
	"logo search search"
	"navbar discover recommended"
	"albumArt discover recommended"
	"albumArt playback playback";
	overflow: hidden;
}

.recommended {
	grid-area: recommended;
	background-color:rgba(247, 241, 241, 0.904);

}

.playback {
	grid-area: playback;
	border-top: 1px solid rgba(107, 40, 104, 0.349);	
}

.albumArt {
	grid-area: albumArt;
	min-width: 230px;
	min-height: 230px;
	border-right: 1px solid rgba(211, 186, 219, 0.281);
}

.logo {
	grid-area: logo;
}

.search {
	grid-area: search;
}

.navbar {
	grid-area: navbar;
}

.discover {
	grid-area: discover;
	background-color:rgba(247, 241, 241, 0.904);
}